/* HeroDetailComponent's private CSS styles */
label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    margin-top: 20px;
    background-color: #eee;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

.cardcontainer {
  display: block;
  width: 100%;
  padding: 5px;
}

.cardcontainer span {
  margin: 4px;
}

.cardcontainer .carddetails{
  display: inline-block;
  position: relative;
  text-align: left;
  left: 0;
  top: 0;
}

.imgcontainer {
  display: inline-block;
  position: right;
}

.carddisplay {
  width: 265px;
  height: 370px;
}